<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2e7adf59-ba87-45ce-95ac-caaa62f196c5/resourcegroups/myResourseGroup/providers/Microsoft.Web/sites/PortfolioBackend20231021211206</ResourceId>
    <ResourceGroup>myResourseGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/2e7adf59-ba87-45ce-95ac-caaa62f196c5/resourceGroups/myResourseGroup/providers/Microsoft.ApiManagement/service/PortfolioBackendapi/apis/PortfolioBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://portfoliobackend20231021211206.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1c38070f-d41d-4d0a-8b92-7776e7f7c884</ProjectGuid>
    <MSDeployServiceURL>portfoliobackend20231021211206.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PortfolioBackend20231021211206</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PortfolioBackend20231021211206</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>